.zoom-in {
    transition: transform 0.1s; 
  }
  
  .zoom-in:hover {
    transform: scale(1.3); 
    color: pink;
  }
  body {
    /*background: linear-gradient(to right, #f0eded, #94f1f1); */ /* Adjust colors as needed */
    background-color: rgba(255, 192, 203, 0.34);
    margin: 0;
    padding: 0;
  }
  .navbar {
    border: 2px solid white; /* Black border */
  }
  